JIRA_BASE_URL=https://atc.bmwgroup.net/jira
JIRA_TOKEN=your-jira-personal-access-token
JIRA_PROJECT=NWAP
JIRA_FEATURE_TEAM=Buddy Builders

CONFLUENCE_BASE_URL=https://atc.bmwgroup.net/confluence
CONFLUENCE_TOKEN=your-confluence-personal-access-token
CONFLUENCE_PARENT_PAGE_ID=1948993578
